A.link {
	color: blue;
	text-decoration: underline;
}
A.visited {
	color: purple;
	text-decoration: underline;
}
A.active {
	color: red;
	text-decoration: underline;
}
LI.AlphaFirst {
	display: block;
	text-align: left;
	text-indent: -12.240005pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 24.479996pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.AlphaNext {
	display: block;
	text-align: left;
	text-indent: -12.240005pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 24.479996pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
H1.Anchor, H2.Anchor, H3.Anchor, H4.Anchor, H5.Anchor, H6.Anchor {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 3.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 55";
}
P.AnchorNoOutput {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 3.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 55";
}
P.Body {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Bullet1 {
	display: block;
	text-align: left;
	text-indent: -12.239990pt;
	margin-top: 0.000000pt;
	margin-bottom: 7.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.239990pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Bullet2 {
	display: block;
	text-align: left;
	text-indent: -12.240005pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 24.479996pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Caution {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.CellAlphaFirst {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 21.599991pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.CellAlphaNext {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 21.599991pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.CellBody {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.CellBodyIndent {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 10.799988pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.CellBullet {
	display: block;
	text-align: left;
	text-indent: -10.799988pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 10.799988pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.CellHeading {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 55";
}
P.CellHeadingCentered {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 55";
}
LI.CellNumberFirst {
	display: block;
	text-align: left;
	text-indent: -10.799988pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 10.799988pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.CellNumberNext {
	display: block;
	text-align: left;
	text-indent: -10.799988pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 10.799988pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.ChapTagline {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 999.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.ChpApp- {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-LondonNineteenSixty";
}
P.ColumnBreak {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1061.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Comment {
	display: block;
	text-align: left;
	text-indent: -44.783997pt;
	margin-top: 16.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 44.783997pt;
	font-size: 8.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.Figure {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 5.759995pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Figure-left {
	display: block;
	text-align: left;
	text-indent: 5.759995pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 5.759995pt;
	margin-left: 0.000000pt;
	font-size: 7.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Figure-right {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 5.759995pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.FigureNoChp- {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 5.759995pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Footer {
	display: block;
	text-align: left;
	text-indent: 5.759995pt;
	margin-top: 0.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 7.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-LondonNineteenSixty";
}
P.Footnote {
	display: block;
	text-align: left;
	text-indent: -10.799988pt;
	margin-top: 0.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 10.799988pt;
	margin-left: 10.799988pt;
	font-size: 7.500000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.GlossDef {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.GlossTerm {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
P.Header {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 7.500000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
H1.Header2, H2.Header2, H3.Header2, H4.Header2, H5.Header2, H6.Header2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 7.000000pt;
	font-weight: medium;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 55";
}
H1.Heading1, H2.Heading1, H3.Heading1, H4.Heading1, H5.Heading1, H6.Heading1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 30.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 16.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
H1.Heading2, H2.Heading2, H3.Heading2, H4.Heading2, H5.Heading2, H6.Heading2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
H1.Heading3, H2.Heading3, H3.Heading3, H4.Heading3, H5.Heading3, H6.Heading3 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 10.799988pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
H1.Heading4, H2.Heading4, H3.Heading4, H4.Heading4, H5.Heading4, H6.Heading4 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 10.799988pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
LI.Important {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Indented1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.239990pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Indented2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 24.479996pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Mapping-Table-Cell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.Mapping-Table-Title {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.New {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Note {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.NoteBody {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 7.199997pt;
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.NumberFirst {
	display: block;
	text-align: left;
	text-indent: -12.239990pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.239990pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.NumberNext {
	display: block;
	text-align: left;
	text-indent: -12.239990pt;
	margin-top: 0.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.239990pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Page- {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 7.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
LI.RelatedTopicOnly {
	display: block;
	text-align: left;
	text-indent: -12.239990pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 12.239990pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.Screen {
	display: block;
	text-align: left;
	text-indent: -9.360001pt;
	margin-top: 0.000000pt;
	margin-bottom: 10.000000pt;
	margin-right: 0.000000pt;
	margin-left: 21.599991pt;
	font-size: 8.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.Subhead {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
P.TableFootnote {
	display: block;
	text-align: left;
	text-indent: -9.360001pt;
	margin-top: 0.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 18.000000pt;
	margin-left: 12.959991pt;
	font-size: 7.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.TableTitle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.TableTitleNoChp- {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
LI.Tip {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
H1.Title, H2.Title, H3.Title, H4.Title, H5.Title, H6.Title {
	display: block;
	text-align: left;
	text-indent: -72.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 24.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
LI.TitleApp {
	display: block;
	text-align: left;
	text-indent: -72.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 24.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
H1.TitleNo-, H2.TitleNo-, H3.TitleNo-, H4.TitleNo-, H5.TitleNo-, H6.TitleNo- {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 24.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
LI.Warning {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
P.WhatIsThis {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
EM.Big {
	font-size: 72.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #bfbf00;
	text-decoration: none;
	vertical-align: sub;
	text-transform: none;
	font-family: "Chalet-LondonNineteenSixty";
}
EM.Bold {
	font-weight: Bold;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.BoldItalic {
	font-weight: Bold;
	font-style: Italic;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.Bullet1 {
	font-size: 7.500000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.Bullet2 {
	font-size: 6.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.Callout {
	font-size: 7.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
EM.Chalet-London {
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-LondonNineteenSixty";
}
EM.Chalet-NY {
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
EM.Chalet-Paris {
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-ParisNineteenSixty";
}
EM.Color {
	color: #d80033;
}
EM.Comment {
	font-size: 8.000000pt;
	font-weight: Light;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Univers LT Std 45 Light";
}
EM.Dingbats {
	font-size: 14.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "ZapfDingbats";
}
EM.HyperText {
	color: #0000ff;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.Interface {
	font-size: 8.500000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial Narrow";
}
EM.Italic {
	font-style: Italic;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.Italic-HyperText {
	font-style: Italic;
	color: #0000ff;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.Italic-Serif {
	font-style: Italic;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
EM.NoteHead {
	font-size: 9.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #d80033;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Chalet-NewYorkNineteenSixty";
}
EM.screen {
	font-size: 8.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
EM.screenbold {
	font-size: 8.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
EM.SmallCaps {
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.Superscript {
	text-decoration: none;
	vertical-align: super;
	text-transform: none;
}
EM.White {
	color: #ffffff;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
