﻿/*
        HTML5 :: mileaccess-docs.css
        ----------------------------------------------------------
        Some of these classes and cross-brower style fixes are taken from 
        open-source material on these sites:
        
        Eric Meyer					:: http://ericmeyer.com
        HTML5 Doctor				:: http://html5doctor.com
        and the HTML5 Boilerplate	:: http://html5boilerplate.com
        
-------------------------------------------------------------------------------*/
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    display: inline;
    zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] {
    display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
    font-size: 80%;
    -webkit-text-size-adjust: 80%;
    -ms-text-size-adjust: 80%;
}
html, button, input, select, textarea {
    font-family: Verdana, sans-serif, Lucida Sans;
    color: #333;
}
body {
    margin: 1.5em;
    font-size: 1em;
    line-height: 1.5;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
    background: #2e9afe;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #2e9afe;
    color: #fff;
    text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a:link {
    color: #0066cc;
    text-decoration: none;
}
a:visited {
    color: #3e5f7f;
}
a:focus, a :hover, a:active {
    text-decoration: underline;
    outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
.api {
    font-weight: bold;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
.copyright {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    font-family: Verdana, sans-serif, Lucida Sans;
    line-height: 1em;
}
.danger {
    color:#000;
    background:#ebb;
    border:1px solid #b00;
    border-radius:4px;
    padding:5px;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
}
span.danger {
    padding:inherit;
}

.warning {
    background:#FFF5BE;
    border:1px solid #FFCC8B;
    border-radius:4px;
    padding:5px;
}

dfn {
    font-style: italic;
}
.external-only-doc {
}
footer {
    padding-top: 2em;
}
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans", Verdana, sans-serif;
    color: #b00c33;
    font-weight: normal;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: 300;
}
h2 {
    font-size: 1.5em;
    margin: 1em 0 1em -5px;
    padding-left: 5px;
    border-bottom: 1px solid #c2a4a4;
    border-bottom-left-radius: 5px;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}
code {
    font-family: "Consolas", "Menlo", "Courier New", Courier, monospace;
    font-size: 110%
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    max-width: 100%;
}
img.border, .screenshot {
    padding: 1px;
    border: 1px solid #6E6E6E;
    background-color: #fff;
    max-width: 100%;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.keypoint {
    font-style: italic;
    font-weight: bold;
    color: #000;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
.internal-only-doc {
}
.internal-update-info {
    display: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
p.center {
    line-height: 0.8;
    text-align: center;
    font-size: smaller;
}
/* Redeclare monospace font family: h5bp.com/j */
pre, kbd, samp {
    font-family: "Consolas", "Menlo", "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1em;
    border-radius: 4px;
    background: #f6f6f6;
    border: 1px solid #e6e6e6;
    color: #222;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4em;
    overflow: auto;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/* --------------------------------------------------------------------------/
   highlight.js style
   Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>
   -------------------------------------------------------------------------*/
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    display: block;
    padding: 0.5em;
    color: #000;
    background: #fff;
}
pre .subst, pre .title {
    color: #000;
}
pre .comment, pre .template_comment, pre .javadoc, pre .diff .header {
    color: #808080;
    font-style: italic;
}
pre .annotation, pre .decorator, pre .preprocessor, pre .doctype, pre .pi, pre .chunk, pre .shebang, pre .apache .cbracket, pre .input_number {
    color: #808000;
}
pre .pi {
    background: #efefef;
}
pre .tag .title, pre .id, pre .attr_selector, pre .pseudo, pre .literal, pre .keyword, pre .hexcolor, pre .css .function, pre .ini .title, pre .css .class, pre .list .title, pre .tex .command {
    color: #000080;
}
pre .attribute, pre .rules .keyword, pre .number, pre .date, pre .regexp, pre .tex .special {
    color: #0000ff;
}
pre .number, pre .regexp {
    font-weight: normal;
}
pre .string, pre .value, pre .filter .argument, pre .css .function .params, pre .apache .tag {
    color: #008000;
}
pre .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .char, pre .tex .formula {
    color: #000;
    background: #d0eded;
    font-style: italic;
}
pre .phpdoc, pre .yardoctag, pre .javadoctag {
    text-decoration: underline;
}
pre .variable, pre .envvar, pre .apache .sqbracket, pre .nginx .built_in {
    color: #660e7a;
}
pre .addition {
    background: #baeeba;
}
pre .deletion {
    background: #ffc8bd;
}
pre .diff .change {
    background: #bccff9;
}
q {
    quotes: none;
}
q:before, q:after {
    content: "";
    content: none;
}
.registerSchema {
}

small {
    font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
.todo {
    background: yellow;
    color: red;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul.no-list {
    list-style: none;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
ol.upper-alpha {
    list-style-type: lower-alpha;
}
ol.lower-roman {
    list-style-type: lower-roman;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
dd {
    margin: 0 0 0 40px;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Figures
   ========================================================================== */
figure {
    margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
    cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline; 
    vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
    line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
    cursor: default;
}
/*
 * Consistent box sizing and appearance
 */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 13px; 
    height: 13px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
/* Colors for form validity */
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
    width: 100%;
    border-spacing: 0;
}
caption {
    font-family: "Lucida Sans", Verdana, sans-serif;
    font-size: 1.17em;
    color: #b00c33;
    padding: 1em;
}
.zebra {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px #ccc;
    -moz-box-shadow: 0px 1px 1px #ccc;
    box-shadow: 0px 1px 1px #ccc;
}
.zebra tr:hover td {
    background: #ddd;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ie-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.zebra td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
}
.zebra th {
    padding: 10px;
    text-align: left;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
}
.zebra th {
    border-top-color: currentColor;
    border-top-width: medium;
    border-top-style: none;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    background-color: #dcdcdc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.zebra thead:hover th {
    background-color: #dcdcdc;
}
.zebra td:first-child {
    border-left-color: currentColor;
    border-left-width: medium;
    border-left-style: none;
}
.zebra th:first-child {
    border-left-color: currentColor;
    border-left-width: medium;
    border-left-style: none;
}
.zebra th:first-child {
    border-radius: 4px 0px 0px;
}
.zebra th:last-child {
    border-radius: 0px 4px 0px 0px;
}
.zebra th:only-child {
    border-radius: 4px 4px 0px 0px;
}
.zebra tbody tr:nth-child(even) {
    background: rgb(245, 245, 245); 
    background-color:#eeeeee; 
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.8);
}
.zebra tr:last-child td:first-child {
    border-radius: 0px 0px 0px 4px;
    ;
}
.zebra tr:last-child td:last-child {
    border-radius: 0px 0px 4px;
}
/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr; 
    line-height: 0;
}
.ir br {
    display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page { margin: 0.5cm; }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
