body {
	color:#333;
	margin: 1.9em;
	font-family: Verdana, sans-serif;
	font-size: 13px; 
	line-height:1.5;
}

pre {
	font-family: "Consolas", "Menlo", "Courier New", Courier, monospace;
	font-size:12px;
	padding: 1em;
	border-radius:3px;
	background: #f6f6f6;
	border:1px solid #e6e6e6;
	color: #222;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.4em;
	overflow:auto;
}

img {
	max-width:100%;
}

.keyPoint {
	font-weight:bold;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Lucida Sans, Verdana, sans-serif;
	color: #b00c33;
	font-weight:normal;
}

h1 {
	font-weight:300;
	font-size:1.8em;
	font-weight:bold;
}

h2 {
	border-bottom: 1px solid #c2a4a4;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 1em;
	font-size: 1.6em;
	padding-left:5px;
	margin-left:-5px;
}

h3 {
	margin-top: 1em;
	font-size: 1.4em;
}

h4 {
	margin-top: 1em;
	font-size: 1.2em;
}

ol, ul {
	margin:.5em 2em;
	padding:0;
}
ol {
	margin:.5em 2.5em;
}

table {
	border:none;
	border-collapse:collapse;
	width:100%;
}

th {
	font-family:Lucida Sans, Verdana, sans-serif;
    padding:0.5em;
	text-align:left;
	font-weight:bold;
	border-bottom: 1px solid #999;
}

td {
	padding:0.5em;
	vertical-align:top;
	border-bottom:1px solid #c0c0c0;
}


.todo {
	background: yellow;
	color: red;
}

a:link {
	color: #0066cc;
	text-decoration:none;
}

a:visited {
	color: #3e5f7f;
}

a:active, a:hover {
	text-decoration:underline;
}

.api {
	font-weight:bold;
}

.tableTitle
{
	font-weight:bold;
}

.emphasis {
	font-style:italic;
}

code, .code {
	font-family: "Consolas", "Menlo", "Courier New", Courier, monospace;
}

.screenShot {
	border: 1px solid #999;
}

.danger {
	color: #c00;
}

table {
    margin:1em 0 1.5em;
}

table .alt,
table.zebra tbody > tr:nth-child(2n) {
	background:#f6f6f6;
}

dt {
    font-weight:bold;
}
dd {
    margin-bottom:10px;
}

/*
highlight.js style
Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>
*/

pre code {
    display: block; padding: 0.5em;
    color: #000;
    background: #fff;
}

pre .subst,
pre .title {
    color: #000;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .diff .header {
    color: #808080;
    font-style: italic;
}

pre .annotation,
pre .decorator,
pre .preprocessor,
pre .doctype,
pre .pi,
pre .chunk,
pre .shebang,
pre .apache .cbracket,
pre .input_number {
    color: #808000;
}

pre .pi {
    background: #efefef;
}

pre .tag .title,
pre .id,
pre .attr_selector,
pre .pseudo,
pre .literal,
pre .keyword,
pre .hexcolor,
pre .css .function,
pre .ini .title,
pre .css .class,
pre .list .title,
pre .tex .command {
    color: #000080;
}

pre .attribute,
pre .rules .keyword,
pre .number,
pre .date,
pre .regexp,
pre .tex .special {
    color: #0000ff;
}

pre .number,
pre .regexp {
    font-weight: normal;
}

pre .string,
pre .value,
pre .filter .argument,
pre .css .function .params,
pre .apache .tag {
    color: #008000;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .char,
pre .tex .formula {
    color: #000;
    background: #d0eded;
    font-style: italic;
}

pre .phpdoc,
pre .yardoctag,
pre .javadoctag {
    text-decoration: underline;
}

pre .variable,
pre .envvar,
pre .apache .sqbracket,
pre .nginx .built_in {
    color: #660e7a;
}

pre .addition {
    background: #baeeba;
}

pre .deletion {
    background: #ffc8bd;
}

pre .diff .change {
    background: #bccff9;
}
