body
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: medium;
}

td
{
	vertical-align: top;
}


table.title
{
	width: 600px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}


th.title
{
	color: #ed1c24;
	text-align: left;
}



td.title
{
	text-align: center;
	color: #ed1c24;
	font-weight: bold;
	height: 50px;
}






table.newversion
{
	width: 600px;
}


table.version
{
	width: 600px;
}

td.version
{
	background-color: black;
	color: White;
	text-align: center;
}



table.new-features
{
	width: 600px;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

th.new-features
{
	text-align: left;
	color: #ed1c24;
	font-weight: bold;
	height: 50px;
}

td.new-features
{
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	
	line-height: 15pt;
}




table.bug-fixing
{
	width: 100%;
}

th.bug-fixing_title
{
	text-align: left;
	color: #ed1c24;
	font-weight: bold;
	height: 50px;
}

th.bug-fixing
{
	text-align: center;
}

td.bug-fixing
{
	text-align: left;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}






table.copyright
{
	width: 600px;
}

td.copyright
{
	text-align: center;
	color: #ed1c24;
	font-weight: bold;
	height: 50px;
}

.path
{
	font-family: Monospace;
	font-variant: small-caps;
	display:block;
}

