﻿/* =============================================================================
   jqtree styles
   ========================================================================== */
ul.jqtree-tree {
	margin-left: 12px;
}
ul.jqtree-tree, ul.jqtree-tree ul {
	list-style: none outside;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 0;
	padding: 0;
}
ul.jqtree-tree ul {
	display: block;
	margin-left: 12px;
	margin-right: 0;
}
ul.jqtree-tree li.jqtree-closed > ul {
	display: none;
}
ul.jqtree-tree li {
	clear: both;
}
ul.jqtree-tree .jqtree-toggler {
	display: block;
	position: absolute;
	left: -1.5em;
	top: 30%;
	top: 0; /* fix for ie7 */;
	font-size: 1em;
	line-height: 1em;
	font-family: arial; /* fix for ie9 */;
	border-bottom: none;
	color: #333;
}
ul.jqtree-tree .jqtree-toggler:hover {
	color: #000;
}
ul.jqtree-tree div {
	cursor: pointer;
}
ul.jqtree-tree .jqtree-title {
	text-decoration: none;
	vertical-align: middle;
}
ul.jqtree-tree li.jqtree-folder {
	margin-bottom: 4px;
}
ul.jqtree-tree li.jqtree-folder.jqtree-closed {
	margin-bottom: 1px;
}
ul.jqtree-tree li.jqtree-folder .jqtree-title {
	margin-left: 0;
}
ul.jqtree-tree .jqtree-toggler.jqtree-closed {
	background-position: 0 0;
}
ul.jqtree-tree span.jqtree-border {
	position: absolute;
	display: block;
	left: -2px;
	top: 0;
	border: solid 2px #0000ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0;
}
ul.jqtree-tree div {
	width: 100%; /* todo: why is this in here? */
	width: auto; /* ie7 fix; issue 41 */;
	position: relative;
}
ul.jqtree-tree li.jqtree-selected > div, ul.jqtree-tree li.jqtree-selected > div:hover {
	background-color: #97bdd6;
	background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
	background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
	background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
	background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
ul.jqtree-tree .jqtree-moving > div .jqtree-title {
	outline: dashed 1px #0000ff;
}
