﻿/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    display: inline;
    zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] {
    display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

/* MFS-style docs */
html {
    font-size: 81.25%;
    -webkit-text-size-adjust: 81.25%;
    -ms-text-size-adjust: 80%;
}

html, button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
body {
    color: #333333;
    line-height: 1.7;
    border: 0;
}

hr {
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    margin-botton: 5px;
}

/* =============================================================================
   Structure
   ========================================================================== */
#nav-header {
    background: #EBF5FF; /* for browsers that don't support gradients*/
    background: -moz-linear-gradient(top, rgba(206,220,232,0) 0%, rgba(206,220,232,1) 1%, rgba(206,220,232,1) 13%, rgba(218,227,234,1) 50%, rgba(206,220,232,1) 90%, rgba(206,220,232,1) 99%, rgba(206,220,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,232,0)), color-stop(1%,rgba(206,220,232,1)), color-stop(13%,rgba(206,220,232,1)), color-stop(50%,rgba(218,227,234,1)), color-stop(90%,rgba(206,220,232,1)), color-stop(99%,rgba(206,220,232,1)), color-stop(100%,rgba(206,220,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,220,232,0) 0%,rgba(206,220,232,1) 1%,rgba(206,220,232,1) 13%,rgba(218,227,234,1) 50%,rgba(206,220,232,1) 90%,rgba(206,220,232,1) 99%,rgba(206,220,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,220,232,0) 0%,rgba(206,220,232,1) 1%,rgba(206,220,232,1) 13%,rgba(218,227,234,1) 50%,rgba(206,220,232,1) 90%,rgba(206,220,232,1) 99%,rgba(206,220,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,220,232,0) 0%,rgba(206,220,232,1) 1%,rgba(206,220,232,1) 13%,rgba(218,227,234,1) 50%,rgba(206,220,232,1) 90%,rgba(206,220,232,1) 99%,rgba(206,220,232,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,220,232,0) 0%,rgba(206,220,232,1) 1%,rgba(206,220,232,1) 13%,rgba(218,227,234,1) 50%,rgba(206,220,232,1) 90%,rgba(206,220,232,1) 99%,rgba(206,220,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cedce8', endColorstr='#00cedce8',GradientType=0 ); /* IE6-9 */
    -webkit-transform: translateZ(0); /* Chrome TOC flicker fix */
}

#page-wrap {
    background: white;
    min-width: 755px;
    margin-left: 340px;
    position: relative;
    top: 55px;
    /*max-width: 1015px;*/
}
#page-wrap #inside {
    margin: 0px 10px 0px 10px;
    padding-bottom: 10px;
}
#main-content {
    margin-left: 0px;
    padding-left: 0px;
    background-color: #fff;
}

#main-content li {
    margin-left: 5px;
}

#header {
    background: #267f23;
    text-align: center;
}
#left-sidebar2 {
    -webkit-transform: translateZ(0); /* Chrome ficker on TOC fix */
}
#footer {
    background: #267f23;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#left-wrap {
    background-color: #f2f2f2;
    float: left;
    width: 200px;
    height: 1500px;
}

/* This is for chrome support */
/*
.TOCItem:before {
    content: "";
    position: relative;
    top: -55px;
}*/

.TOCItem:before {
    content: "";
    position: relative;
    top: -65px;
}

/* This is for firefox support */

.TOCItem {
    position: relative;
    top: -60px;
}

.screenshot {
    /* This is to make all screenshot consistant, only use if the image is at least 1000px wide */
    width: 1000px;
}

.holder {
    overflow: hidden;
    clear: both;
}
.holder .even-height {
    float: left;
    padding-bottom: 100000px;
    margin-bottom: -100000px;
}

.ios-item {
    border: 1px solid black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    padding-top: 0px;
    text-decoration: none;
    color: black;
}
.ios-item h3 {
    text-decoration: none;
    color: black;
}
.ios-item a {
    text-decoration: none;
    color: black;
}

/* =============================================================================
   Heading styles
   ========================================================================== */
h1, h2, h3, h4, h5, header {
    font-family: "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 1em 0 1.5em 0;
}
h1 {
    font-size: 1.8em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.1em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h4 {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.5em;
}
caption {
    font-size: 1.1em;
    line-height: 1;
    margin-bottom: 0.5em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul {
    margin-left: 20px;
    padding-left: 0;
}
ol {
    margin-left: 20px;
    padding-left: 0;
}
ul.no-list {
    list-style: none;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
ol.upper-alpha {
    list-style-type: upper-alpha;
}
ol.lower-roman {
    list-style-type: lower-roman;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
dd {
    margin: 0 0 0 40px;
}
/* =============================================================================
   Paragraphs
   ========================================================================== */
p {
    margin: 0 0 1em 0;
}
p.center {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1em;
}
p.asterisk {
    font-size: 0.85em;
    color: #959595;
    line-height: 0.85em;
    margin: 1em 0 1em 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
    border-bottom: 1px dotted;
}
.api {
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
code {
    font-family: "Courier New", Courier, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, monospace;
    font-size: 0.90em;
}
.copyright {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    font-family: "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1em;
}
.danger {
    color: #000;
    background: #ebb;
    border: 1px solid #b00;
    border-radius: 4px;
    padding: 5px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
span.danger {
    padding: inherit;
}
dfn {
    font-style: italic;
}
.nowrap {
    overflow: auto;
    width: 100%;
}
.external-only-doc {
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
.keypoint {
    font-style: italic;
    font-weight: bold;
    color: #000;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
.internal-only-doc {
}
.internal-update-info {
    display: none;
}
.keypoint {
    font-style: italic;
    font-weight: bold;
    color: #000;
}
object {
    width: 750px;
    height: 900px;
}
.questionable {
    border: 2px solid #999;
}
.questionable:before {
    background: #999;
    content: " (Is this applicable?) ";
    color: #fff;
}
.warning {
    background: #FFF5BE;
    border: 1px solid #FFCC8B;
    border-radius: 4px;
    padding: 5px;
}
/* Redeclare monospace font family: h5bp.com/j */
pre, kbd, samp {
    font-family: "Courier New", Courier, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, monospace;
    font-size: 0.90em;
    padding: 1em;
    border-radius: 3px;
    background: #f6f6f6;
    border: 1px solid #d5d5d5;
    color: #222;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4em;
    overflow: auto;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
    max-width: 980px;
    padding: 5px;
    white-space: pre-wrap; /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap; /* Opera 4 thru 6 */
    white-space: -o-pre-wrap; /* Opera 7 and up */
    word-wrap: break-word;                 /* IE 5.5+ and up */
    /* overflow-x: auto; */                /* Firefox 2 only */
    /* width: 99%; */                      /* only if needed */
}
.style_bold {
    font-weight: bold;
}
.style_italic {
    font-style: italic;
}
/* =============================================================================
   Images
   ========================================================================== */
img {
    border-style: none;
    border: none;
    clear: both;
    max-width: 100%;
    margin: 10px 0px 10px 0px;
}
img.floatLeft {
    float: left;
    margin: 10px 15px 10px 0px;
}
img.floatRight {
    float: right;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 0px 10px 15px;
}
img.border {
    border: 1px solid #6e6e6e;
    background-color: #fff;
    max-width: 100%;
}
img.alignCenter {
    display: block;
    margin: auto;
    padding: 0px 0px 10px 0px;
}
#shadow {
    box-shadow: 8px 8px 12px #bbb;
    -moz-box-shadow: 8px 8px 12px #bbb;
    -webkit-box-shadow: 8px 8px 12px #bbb;}    

/* =============================================================================
   Links
   ========================================================================== */

#main-content h1, h2, h3 {
    color: #CC0033;
}

#main-content a, a:link, a:hover, a:active {
    color: blue;
    text-decoration: underline;
    background-color: transparent;
}

#main-content a:visited {
    color: purple;
}

#main-content a:hover {
    color: #b71234;
    text-decoration: underline;
    background-color: transparent;
}
/* = = = */
#left-sidebar a, a:link, a:visited, a:hover {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
}
#left-sidebar a:active a:focus {
    color: #b71234;
    text-decoration: none;
    background-color: transparent;
}
#left-sidebar a:hover {
    color: #222222;
    background-color: #eee;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Figures
   ========================================================================== */
figure {
    margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
    cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
    line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
    cursor: default;
}
/*
 * Consistent box sizing and appearance
 */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 13px;
    height: 13px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
/* Colors for form validity */
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
    background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
/* Default Table */
table {
    width: 100%;
    border-spacing: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-collapse: collapse;
}
table caption {
    font-size: 1.1em;
    line-height: 1;
    margin: 1em 0 1em;
    text-align: center;
}
div#content table {
    width: 100%;
}
th {
    margin: 10px;
    padding: 10px 8px;
    border-bottom-color: rgb(219, 219, 219);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
td {
    color: rgb(42, 42, 42);
    vertical-align: top;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 219, 219);
}
/* Zebra Table */
.zebra {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px #ccc;
    -moz-box-shadow: 0px 1px 1px #ccc;
    box-shadow: 0px 1px 1px #ccc;
}
.zebra tr:hover td {
    background: #f7f8e0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ie-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.zebra td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
}
.zebra th {
    padding: 10px;
    text-align: left;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
}
.zebra th {
    border-top-color: currentColor;
    border-top-width: medium;
    border-top-style: none;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    background-color: #dcdcdc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.zebra thead:hover th {
    background-color: #dcdcdc;
}
.zebra td:first-child {
    border-left-color: currentColor;
    border-left-width: medium;
    border-left-style: none;
}
.zebra th:first-child {
    border-left-color: currentColor;
    border-left-width: medium;
    border-left-style: none;
}
.zebra th:first-child {
    border-radius: 4px 0px 0px;
    -moz-border-radius: 4px 0px 0px;
    -webkit-border-radius: 4px 0px 0px;
}
.zebra th:last-child {
    border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
}
.zebra th:only-child {
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
.zebra tbody tr:nth-child(even) {
    background: rgb(245, 245, 245); 
    background-color:#eeeeee; 
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.8);
    -moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.8);
}
.zebra tr:last-child td:first-child {
    border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    -webkit-border-radius: 0px 0px 0px 4px;
}
.zebra tr:last-child td:last-child {
    border-radius: 0px 0px 4px;
    -moz-border-radius: 0px 0px 4px;
    -webkit-border-radius: 0px 0px 4px;
}
/* Discrete Table */
.discrete td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    width: 50%;
}
/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    line-height: 0;
}
.ir br {
    display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

.fb_tooltip {
    background-color:red;
    color: blue;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page { margin: 0.5cm; }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

/* =============================================================================
   Navigation (navigation.min.js)
   ========================================================================== */
/* ---------- Begin EPO SDK Docs Navigation ---------- */

/* ---------- Begin EPO SDK Docs Navigation ---------- */

#accordion h3 {
    text-align: left;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#accordion ul li ul {
    z-index: 1;
}

.checkbox-column2 {
    position: absolute;
    left: 120px;
}

#filter-accordion {
    padding: 5px;
    margin: 0px;
}

#filter-accordion form {
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 70px;
    color: white;
}

#filter-accordion-label {
    font-size: 14px;
}

#footer-bar {
    text-align: center;
    background-color: #EFEFEF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: open-sans, Trebuchet MS, Arial, Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
}

#footer-text {
    margin-top: 7px;
}

#get-started {
    position: fixed;
    top: 5px;
    left: 150px;
    padding-top: 5px;
    display: block;
    height: 35px;    
}

#get-started a {
    padding: 12px;
    font-size: 16px;
    font-family: Open Sans, Trebuchet MS, Arial, Helvetica, sans-serif;
}

#get-integrated {
    left: 265px;
    display: block;
    height: 35px;
    position: fixed;
    top: 5px;
    left: 261px;
    padding-top: 5px;
}

#get-integrated a {
    padding: 12px;
    font-size: 16px;
    font-family: Open Sans, Trebuchet MS, Arial, Helvetica, sans-serif;
}

#feedback-mailto-link {
    position: relative;
    top: 2px;
}

#left-sidebar2 {
    position: fixed;
    margin: 0px;
    padding: 0px;
    left: 5px;
    top: 50px;
    text-decoration: none;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#logo-top-right {
    height: 100%;
    float: right;
    position: fixed;
    right: -190px;
    top: 8px;
}

#logo-top-right img {
    margin: 0px;
}

#meta-info {
    position: absolute;
    top: 50px;
    left: 360px;
}

#nav-header {
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    color: #75858b;
}

#reference {
    display: block;
    height: 35px;
    position: fixed;
    top: 5px;
    left: 400px;
    padding-top: 5px;
}

#reference a {
    padding: 12px;
    font-size: 16px;
    font-family: Open Sans, Trebuchet MS, Arial, Helvetica, sans-serif;
}

#samples {
    display: bloc;
    height: 35px;
    position: fixed;
    top: 5px;
    left: 500px;
    padding-top: 5px;
}

#samples a {
    padding: 12px;
    font-size: 16px;
    font-family: Open Sans, Trebuchet MS, Arial, Helvetica, sans-serif;
}

#search-container {
    position: fixed;
    top: 9px;
    display: block;
    float: right;
    right: 180px;
}

#search-form {
    background: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0px 4px 1px 7px;
    border-radius: 3px;
}

#search-input-submit {
    border: 0px;
    z-index: 100;
    cursor: pointer;
    margin-bottom: 4px;
    margin-right: 3px;
    position: relative;
    left: 1px;
    width: 22px;
}

#search-input-text {
    background: transparent;
    color: #777;
    line-height: 100%;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 15px;
    outline: none;
    border: none;
    resize: none;
    width: 150px;
}

#search-results {
    background: none repeat scroll 0 0 white;
    box-shadow: 1px 0 4px rgba(0,0,0,0.25);
    border: 1px solid grey;
    border-radius: 4px;
    overflow: auto;
    padding: 10px;
    margin-right: 10px;
    font-size: 120%;
    width: 500px;
}

#search-results li {
    list-style-position:inside;
    overflow: hidden;
    padding: .5ex 1em 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}

#search-results p {
    margin: 0px;
    padding: 0px;
}

#search-results ul {
    margin: 0px;
    padding: 0px;
}

#top-left-home-link-lb {
    margin-left: 15px;
    padding-top: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    display: block;
    height: 35px;
}

#top-left-home-link {
    font-family: Arial Black;
    font-size: 16px;
    padding: 12px;
}

#top-nav-tab {
    margin-left: 15px;
    padding-top: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    display: block;
    height: 35px;
}

.TOCItem {
    position: relative;
}

.filter-checkbox {
    display: inline;
    padding: 3px;
    margin-left: 10px;
    font-size: 10px;
}

.filter-checkbox label {
    cursor: default;
    padding: 3px;
    color: black;
}

.nav-link {
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-family: arial;
}

.ui-menu-item a {
    max-width: 100%;
    font-size: 12px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: elipsis;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

hr {
    margin: 5px;
}

/* ---------- End EPO SDK Docs Navigation ---------- */