﻿/* =============================================================================
   TOC tree styles
   ========================================================================== */
ul.toc-tree {
	margin-left: 12px;
}
ul.toc-tree, ul.toc-tree ul {
	font-family: Arial, Helvetica, sans-serif;
	/* list-style: none outside; */
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 0;
	padding: 0;
}
ul.toc-tree ul {
	display: block;
	margin-left: 0.9em;
	margin-right: 0;
}
ul.toc-tree li {
	clear: both;
}
ul.toc-tree .jqtree-toggler {
	display: block;
	position: absolute;
	left: -1.5em;
	top: 30%;
	top: 0; /* fix for ie7 */;
	font-size: 1em;
	line-height: 1em;
	font-family: arial; /* fix for ie9 */;
	border-bottom: none;
	color: #333;
}
ul.toc-tree .jqtree-toggler:hover {
	color: #000;
}
ul.toc-tree div {
	cursor: pointer;
}
ul.toc-tree .jqtree-title {
	text-decoration: none;	
	vertical-align: middle;
}
ul.toc-tree li.toc-branch {
	margin-bottom: 4px;
}
